<template>
  <b-container>
    <b-row
      v-if="products && products.length"
      class="products-page"
    >
      <b-col
        v-for="product in products"
        :key="product.id"
        cols="4"
      >
        <product-tile
          :product="product"
        ></product-tile>
      </b-col>
    </b-row>
    <b-row
      v-else
      align-h="center"
    >
      <b-col cols="2">
        <p>Loading products...</p>
      </b-col>
      <b-col cols="2">
        <b-spinner></b-spinner>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  import {mapGetters} from 'vuex';
  import ProductTile from "@/views/products/product.tile";

  export default {
    name: "AppProducts",
    components: {ProductTile},
    props: {
      products: {
        type: Array, default: function () {
          return []
        }
      }
    },
    computed: {
      ...mapGetters({
        loading: 'getLoadingState',
      }),
    }
  }
</script>
