<template>
  <b-row>
    <b-col
      cols="12"
    >
      <h4><strong>Product Variants</strong></h4>
    </b-col>
    <b-col
      cols="12"
    >
      <b-row>
        <b-col
          v-for="product in variants"
          :key="`variant-${product.id}`"
          cols="4"
        >
          <product-tile
            :product="product"
          ></product-tile>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import getProductImage from "@/shared/image-functions";
import ProductTile from '@/views/products/product.tile'

export default {
  name: "ProductVariants",
  components: {ProductTile},
  props: {
    variants: {
      type: Array, default: function () {
        return []
      }
    }
  },
  computed: {
    ...mapGetters({
      loading: 'getLoadingState',
      userToken: 'getUserToken',
    }),
  },
  methods: {
    navigateToProductDetail(product) {
      this.$router.push({name: 'details', params: {productID: product.id.toString()}});
    },
    ...mapActions({
      addProductToBasket: 'addProductToBasket',
      addToWishlist: 'addToWishlist'
    }),
    getProductImage
  }
}
</script>