<template>
  <b-col
    cols="12"
  >
    <label :for="`dropdown-${productAttribute.id}`">
      {{ label }}:
    </label>
    <b-dropdown
      :id="`dropdown-${productAttribute.id}`"
      :text="productAttribute.value"
      variant="light"
      block
    >
      <b-dropdown-item
        v-for="option in options"
        :key="`dropdown-option-${option.id}-${option.variant_id}`"
        :active="selected === option.variant_id"
        @click="selectOption(option.variant_id)"
      >
        <img
          v-if="option.picture"
          :src="`https://accp-charlietemple.cloudsuite.com${option.picture}`"
          width="25"
          height="25"
        > {{ option.value }}
      </b-dropdown-item>
    </b-dropdown>
  </b-col>
</template>

<script>
export default {
  name: "ProductVariantSelector",
  props: {
    product: {
      type: Object, default: function () {
        return {}
      }
    },
    productAttribute: {
      type: Object, default: function () {
        return {}
      }
    },
    variants: {
      type: Array, default: function () {
        return []
      }
    }
  },
  data() {
    return {
      selected: this.product.id,
      label: this.productAttribute.name
    }
  },
  computed: {
    options: function () {
      let options = [{
        id: this.productAttribute.id,
        value: this.productAttribute.value,
        picture: this.productAttribute.picture,
        variant_id: this.product.id
      }]
      for (let variant of this.variants) {
        for (let variant_attribute of variant.variant_attributes) {
          const found = options.some(el => el.variant_id === variant.id);
          if (!found && this.label === variant_attribute.name) {
            options.push({
              id: variant_attribute.id,
              value: variant_attribute.value,
              picture: variant_attribute.picture,
              variant_id: variant.id,
            })
          }
        }
      }

      return options
    }
  },
  methods: {
    selectOption(selected) {
      this.selected = selected
      this.navigateToVariant()
    },
    navigateToVariant() {
      this.$router.push({
        name: 'details',
        params: {
          productID: this.selected.toString()
        }
      })
    }
  }
}
</script>