<template>
  <b-container class="products-page container">
    <b-row class="product-page___header">
      <h1 class="header">
        Products
      </h1>
    </b-row>
    <app-products :products="products"></app-products>
    <b-row align-h="center">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
        @change="fetchNewProducts()"
      ></b-pagination>
    </b-row>
  </b-container>
</template>

<script>
  import {mapGetters} from 'vuex'
  import AppProducts from "./products.component";

  export default {
    components: {AppProducts},
    data() {
      return {
        perPage: 9,
        currentPage: 1,
        rows: 9
      }
    },
    computed: {
      ...mapGetters({
        productTotal: 'getProductTotal',
        products: 'getAllProducts'
      })
    },
    created() {
      /** Retrieve all products from database **/
      this.$store.dispatch('fetchProducts', {page: this.currentPage, limit: this.perPage})
      this.rows = this.productTotal
    },
    methods: {
      fetchNewProducts(){
        this.$store.dispatch('fetchProducts', {page: this.currentPage, limit: this.perPage})
        this.rows = this.productTotal
      }
    }
  }
</script>

<style scoped>
  .product-page___header {
    margin-top: 30px;
  }
</style>
