<template>
  <b-card
    v-if="product"
    :key="`wishlist-product-${product.id}`"
    :title="product.name"
    title-tag="em"
    class="m-3 p-3"
    style="text-align: center"
    border-variant="default"
  >
    <b-button
      block
      class="add-product-basket-button"
      @click="removeFromWishlist({product})"
    >
      Remove from wishlist
    </b-button>
    <b-button
      block
      variant="outline-secondary"
      class="add-product-basket-button"
      @click="addProductToBasket({product})"
    >
      <i class="fas fa-plus"></i> Add to shopping cart
    </b-button>
    <b-button
      block
      variant="primary"
      @click="navigateToProductDetail(product)"
    >
      Product details
    </b-button>
  </b-card>
</template>

<script>
  import {mapActions} from "vuex";
  import getProductImage from "@/shared/image-functions";

  export default {
    name: "ProductWishlist",
    props: {
      product: {
        type: Object, default: function () {
          return {}
        }
      }
    },
    methods: {
      navigateToProductDetail(product) {
        this.$router.push({name: 'details', params: {productID: product.id.toString()}});
      },
      ...mapActions({
        addProductToBasket: 'addProductToBasket',
        addToWishlist: 'addToWishlist',
        removeFromWishlist: 'removeFromWishlist'
      }),
      getProductImage
    }
  }
</script>