<template>
  <b-container>
    <b-row class="products-page">
      <b-col
        v-if="getTreeInfo && getTreeInfo.collectionTree"
        class="product-page___header"
      >
        <h1>Collection: <strong>{{ getTreeInfo.collectionTree.name }}</strong></h1>
        <ul class="breadcrumb">
          <router-link
            to="/products"
            tag="li"
          >
            Products
          </router-link>
          <li>{{ getTreeInfo.typeTree.name }}</li>
          <li
            class="active-link"
            aria-current="page"
          >
            {{ getTreeInfo.collectionTree.name }}
          </li>
        </ul>
      </b-col>
    </b-row>
    <b-row>
      <app-products :products="products"></app-products>
    </b-row>
    <b-row align-h="center">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
        @change="fetchNewProducts()"
      ></b-pagination>
    </b-row>
  </b-container>
</template>

<script>
  import AppProducts from "@/views/products/products.component";
  import {mapGetters} from 'vuex'

  export default {
    name: "ProductTree",
    components: {AppProducts},
    data() {
      return {
        parentTreeID: null,
        perPage: 9,
        currentPage: 1,
        rows: 9
      }
    },
    computed: {
      ...mapGetters({
        productTotal: 'getProductTotal',
        products: 'getAllProducts',
      }),
      ...mapGetters(['getTreeByID']),
      getTreeInfo() {
        const collectionTree = this.getTreeByID(this.$route.params.treeID);
        if (!collectionTree) {
          return
        }

        const typeTree = this.getTreeByID(collectionTree.parent_id);
        return {typeTree, collectionTree}
      }
    },
    created() {
      this.$store.dispatch('fetchTreeById', this.$route.params.treeID);
      this.$store.dispatch('fetchProducts', {tree_id: this.$route.params.treeID, page: this.currentPage, limit: this.perPage});
      this.rows = this.productTotal
    },
    methods: {
      fetchNewProducts() {
        this.$store.dispatch('fetchProducts', {
          tree_id: this.$route.params.treeID,
          page: this.currentPage,
          limit: this.perPage
        })
        this.rows = this.productTotal
      }
    }
  }
</script>

<style scoped>

  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }

  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

  ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

  ul.breadcrumb li.active-link {
    color: #37ae83;
    text-decoration: none;
  }

  ul.breadcrumb li.active-link:hover {
    color: #288061;
    text-decoration: underline;
  }
</style>
