<template>
  <b-card
    :title="product.name"
    :img-src="getProductImage(product, 'product_image')"
    img-alt="Image"
    title-tag="em"
    class="m-3 p-3"
    style="text-align: center"
    border-variant="default"
  >
    <b-card-text
      v-if="product.sale_price"
      class="text-center"
    >
      <strong>Price:</strong>
      {{ product.sale_price / 100 | currency(product.currency_symbol, 2, { decimalSeparator: '.' }) }}
    </b-card-text>
    <b-card-text v-else>
      <strong>Price: </strong>price unknown
    </b-card-text>
    <b-button
      v-if="userToken"
      @click="addToWishlist({product})"
    >
      Add to wishlist
    </b-button>
    <b-button
      block
      variant="outline-secondary"
      class="add-product-basket-button"
      @click="addProductToBasket({product})"
    >
      <i class="fas fa-plus"></i> Add
      to shopping cart
    </b-button>
    <b-button
      block
      variant="primary"
      @click="navigateToProductDetail(product)"
    >
      Product details
    </b-button>
  </b-card>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import getProductImage from "@/shared/image-functions";

export default {
  name: "ProductTile",
  props: {
    product: {
      type: Object, default: function () {
        return {}
      }
    }
  },
  computed: {
    ...mapGetters({
      userToken: 'getUserToken',
    }),
  },
  methods: {
    navigateToProductDetail(product) {
      this.$router.push({
        name: 'details',
        params: {
          productID: product.id.toString()
        }
      })
    },
    ...mapActions({
      addProductToBasket: 'addProductToBasket',
      addToWishlist: 'addToWishlist'
    }),
    getProductImage
  }
}
</script>