<template>
  <b-container
    v-if="product"
    class="product-detail-page"
  >
    <b-row
      class="product-detail-page__header header"
      align-h="center"
    >
      <h1 class="text-center product-detail-page__title">
        <strong>{{ product.name ? product.name : 'unknown' }}</strong>
      </h1>
    </b-row>
    <b-row
      align-h="center"
      align-v="start"
    >
      <b-col
        cols="4"
      >
        <b-img
          v-if="product && product.pictures"
          fluid
          :src="getProductImage(product, 'product_image', 'large')"
          alt="product"
        ></b-img>
      </b-col>

      <b-col
        cols="4"
      >
        <strong>Price</strong>
        <p v-if="product.sale_price">
          From {{ product.sale_price / 100 |
            currency(product.currency_symbol, 2, { decimalSeparator: '.' }) }}
        </p>
        <p v-else>
          unknown
        </p>
        <strong>Description</strong>
        <p>{{ product.description ? product.description : '-' }}</p>
        <strong>Product id</strong>
        <p>{{ product.id ? product.id : '-' }}</p>

        <strong>
          <p
            v-if="product.out_of_stock"
            class="stock-button out_of_stock"
          >Out of stock</p>
          <p
            v-else
            class="stock-button in_stock"
          >In stock</p></strong>
      </b-col>
      <b-col
        cols="4"
      >
        <b-row
          v-if="product.variants && product.variants.length > 0 && product.product_attributes && product.product_attributes.length > 0"
          class="product-variant-selector-row"
        >
          <product-variant-selector
            v-for="productAttribute in product.product_attributes"
            :key="`product-attributes-${productAttribute.id}`"
            :product="product"
            :product-attribute="productAttribute"
            :variants="product.variants"
          ></product-variant-selector>
        </b-row>

        <b-row
          class="product_detail-page__buttons"
          align-h="end"
        >
          <b-col
            cols="12"
          >
            <b-button-toolbar>
              <b-button
                v-if="userToken"
                block
                @click="addToWishlist({product})"
              >
                <i class="fas fa-heart"></i> Add to wishlist
              </b-button>
              <b-button
                variant="primary"
                block
                class="add-product-basket-button"
                @click="addProductToBasket({product})"
              >
                <i class="fas fa-plus"></i> Add to shopping cart
              </b-button>
            </b-button-toolbar>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row
      v-if="product.product_attributes && product.product_attributes.length > 0"
    >
      <b-col
        cols="6"
        align-self="end"
      >
        <h4><strong>Product Attributes</strong></h4>
        <b-table
          :fields="['name', 'value']"
          :items="product.product_attributes"
        >
        </b-table>
      </b-col>
    </b-row>
    <product-variants
      v-if="product.variants && product.variants.length > 0"
      :variants="product.variants"
    ></product-variants>
    <b-row
      class="product_detail-page__buttons"
    >
      <b-button-toolbar>
        <b-button
          variant="outline-secondary"
          @click="navigateToProducts"
        >
          Go back
        </b-button>
      </b-button-toolbar>
    </b-row>
  </b-container>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import getProductImage from '@/shared/image-functions';
import ProductVariants from '@/views/products/product.variants';
import productVariantSelector from '@/views/products/product.variant-selector';

export default {
  components: {ProductVariants, productVariantSelector},
  computed: {
    ...mapGetters({
      product: 'getCurrentProduct',
      userToken: 'getUserToken',
    }),
  },
  watch: {
    /** call again the method if the route changes **/
    '$route': 'fetchProductData'
  },
  created() {
    /** Get the product details based on the router link **/
    this.fetchProductData()
  },
  methods: {
    getProductImage,
    navigateToProducts() {
      this.$router.go(-1)
    },
    fetchProductData() {
      this.$store.dispatch('fetchProductById', this.$route.params.productID)
    },
    ...mapActions({
      addProductToBasket: 'addProductToBasket',
      addToWishlist: 'addToWishlist'
    })
  }
}
</script>

<style lang="scss">
button {
  margin: 5px;
}

.product-detail-page {
  margin-top: 50px;
  margin-bottom: 50px;
}

.in_stock {
  color: $green;
  border: 1.5px solid $green;
}

.out_of_stock {
  color: $red;
  border: 1.5px solid $red;
}

.stock-button {
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}
.row.product-variant-selector-row {
  margin-top: 0;
}
</style>
