// colors
$cloudsuite-primary: #37ae83 !default;
$blue: $cloudsuite-primary;

//themes
$theme-colors: (
        "cloudsuite-theme": $cloudsuite-primary
);

//fonts
$font-family-sans-serif: -apple-system, "Work Sans", sans-serif;
$font-size-base: 1rem;

.header {
  margin-top: 30px;
  margin-bottom: 30px;
}

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index';

.page-item.active .page-link {
  margin: 0;
}
