<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <link rel="stylesheet" href="https://s3-cdn.cloudsuite.com/font-awesome/6.5.1-web/css/fontawesome.min.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://s3-cdn.cloudsuite.com/font-awesome/6.5.1-web/css/regular.min.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://s3-cdn.cloudsuite.com/font-awesome/6.5.1-web/css/light.min.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://s3-cdn.cloudsuite.com/font-awesome/6.5.1-web/css/solid.min.css" media="print" onload="this.media='all'">

    <script src="https://s3-cdn.cloudsuite.com/mosaic/mosaic/v0/production/bundle.min.js"></script>

    <title>Headless Webshop Example</title>
</head>
<body>
<div id="app"></div>
</body>
</html>
