<template>
  <b-container class="checkout-page">
    <b-row
      class="checkout-page__header header"
      align-h="center"
    >
      <h1>Shopping cart</h1>
    </b-row>
    <b-row>
      <table
        v-if="basketLines.length > 0"
        class="table table-hover"
      >
        <thead>
          <tr>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total per product</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <BasketLine
            v-for="basketline in basketLines"
            :key="basketline.id"
            :basketline="basketline"
          ></BasketLine>
        </tbody>
      </table>
      <table v-else>
        <p>No items in basket...</p>
      </table>
    </b-row>
    <b-row
      v-if="basketLines.length"
      align-h="between"
    >
      <b-button
        variant="danger"
        type="button"
        @click="deleteBasket"
      >
        Delete basket
      </b-button>
      <b-button
        variant="primary"
        type="button"
        :disabled="quantityErrors"
        @click="proceedToCheckout"
      >
        Proceed to checkout
      </b-button>
    </b-row>
    <b-row
      class="checkout-page__total"
      align-h="center"
    >
      <h5 class="checkout-page__item__total">
        <strong>Total:</strong> {{ getTotalAmount() |
          currency(basket.currency_symbol, 2, {
            decimalSeparator: '.' }) }}
        <strong>VAT: {{ basket.currency_symbol }}</strong>{{ getTotalVAT() |
          currency(basket.currency_symbol, 2, {
            decimalSeparator: '.' }) }}
      </h5>
    </b-row>
  </b-container>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';
  import BasketLine from "../components/basketline";

  export default {
    name: 'Basket',
    components: {
      BasketLine
    },
    data() {
      return {
        componentKey: 0,
        quantityErrors: false
      }
    },
    computed: {
      ...mapGetters({
        basketLines: 'getBasketLines',
        basket: 'getBasket',
      })
    },
    methods: {
      ...mapActions(['removeBasketLineFromBasket']),
      getTotalAmount() {
        return this.basket.total_price / 100
      },
      getTotalVAT() {
        return this.basket.total_vat / 100
      },
      deleteBasket() {
        this.quantityError = '';
        this.$store.dispatch('deleteBasket')
      },
      proceedToCheckout() {
        this.$store.dispatch('goToCheckout').then((url) => {
          window.location.assign(process.env.VUE_APP_PROXY_SERVER + url)
        })
      }

    }
  }
</script>

<style scoped lang="scss">
  th {
    min-width: 100px;
  }
</style>
