<template>
  <b-container class="confirmation-page">
    <b-row
      class="confirmation-page__header header"
      align-h="center"
    >
      <b-col>
        <h1>Thank you for your order</h1>
        <p v-if="sale && sale.user && sale.user.email">
          You will receive an email confirmation shortly at {{ sale.user.email }}
        </p>
      </b-col>
    </b-row>
    <b-row
      v-if="sale"
      align-h="center"
    >
      <b-col>
        <h2>Sale Info</h2>
        <p><strong>Sale Reference:</strong> {{ sale.sale_reference }}</p>
        <p><strong>Payment Status:</strong> {{ sale.payment_status }}</p>
        <p><strong>Total Amount:</strong> {{ sale.total_amount }}</p>
      </b-col>
    </b-row>
    <b-row
      v-if="sale"
    >
      <b-col>
        <h2>Order</h2>
        <b-table
          :items="sale.sale_lines"
          :fields="getFieldsForOrderTable(sale.sale_lines[0])"
        >
        </b-table>
      </b-col>
    </b-row>
    <navigate-to-home></navigate-to-home>
  </b-container>
</template>

<script>
  import {mapGetters} from 'vuex';
  import NavigateToHome from "../components/navigate-to-home";

  export default {
    name: 'Confirmation',
    components: {
      NavigateToHome
    },
    computed: {
      ...mapGetters({sale: 'getSale'}),
    },
    created() {
      /** fetch the current sale **/
      this.$store.dispatch('fetchSale', this.$route.query.sale_token).then(() => {
        if (this.sale.sale_token) {
          this.$store.commit('deleteBasket');
          this.$store.commit('deleteBasketCookie')
        }
      })
    },
    methods: {
      getFieldsForOrderTable(saleLine) {
        let keys = Object.keys(saleLine);
        return keys.map(key => {
          let field = {'key': key};
          if (key === 'product') {
            field.formatter = (product) => product.name
          }
          return field
        })
      }
    }
  }
</script>

<style scoped>

</style>
