<template>
  <b-container class="error-page">
    <b-row
      class="error-page__header header"
      align-h="center"
    >
      <h1>Oops, something went wrong...</h1>
    </b-row>
    <b-row
      align-h="center"
    >
      <b-col>
        <p
          v-if="params && params.statusText"
          class="text-danger"
        >
          Error {{ params.status }} : {{ params.statusText }}
        </p>
        <p>{{ params.responseData }}</p>
      </b-col>
    </b-row>
    <navigate-to-home></navigate-to-home>
  </b-container>
</template>

<script>
  import NavigateToHome from "../components/navigate-to-home";

  export default {
    name: 'Error',
    components: {
      NavigateToHome
    },
    data() {
      return {params: null}
    },
    created() {
      this.params = this.$route.params
    },
    methods: {
      navigateToHome() {
        this.$router.push({name: 'home'});
      }
    }
  }
</script>

<style scoped>

</style>