<template>
  <b-container class="home-page">
    <b-row align-h="center">
      <b-jumbotron
        class="home-page_jumbo"
        header="Example webshop Vue"
        lead="An example webshop created with Vue and the headless webshop API of Cloudsuite"
      >
      </b-jumbotron>
    </b-row>
    <b-row v-if="products && products.length > 0">
      <h3><strong>Highlighted products</strong></h3>
    </b-row>
    <b-row v-if="products && products.length > 0">
      <div
        v-for="product in products.slice(0,4)"
        :key="product.id"
        class="home-page__product-card"
      >
        <router-link
          :to="'/products/7/' + product.id"
          tag="div"
        >
          <b-card
            :title="product.name"
            :img-src="getProductImage(product, 'product_image', 'mini')"
            img-alt="Image"
            img-top
            title-tag="p"
            style="text-align: center"
            class="m-2 p-3"
          >
          </b-card>
        </router-link>
      </div>
    </b-row>
    <b-row><h3><strong>Our Vision</strong></h3></b-row>
    <b-row class="home-page__vision">
      <p>
        Nulla semper commodo erat vel euismod. Nunc semper risus turpis, id semper purus eleifend nec. Donec
        pharetra sagittis erat, in sollicitudin leo. Maecenas sodales commodo risus non condimentum. Fusce
        dignissim
        a turpis sit amet interdum. Nulla sit amet condimentum elit, sit amet blandit erat. Nunc at lacinia
        ligula.
        Vivamus auctor feugiat magna, ac condimentum velit tempus ut. In vel egestas mi, mollis interdum
        sem. Nunc
        fermentum hendrerit nibh sed volutpat. Duis sed urna vitae erat egestas varius quis vitae mauris.
        Pellentesque posuere, massa in sagittis lobortis, ipsum nibh placerat est, vel pellentesque nisi est
        eu
        tellus. Pellentesque congue neque vitae risus efficitur, at lobortis ex tristique. Sed tempus quis
        ipsum
        quis semper. Etiam efficitur sed nibh eget fringilla. Donec feugiat ligula et mauris placerat, id
        imperdiet
        augue tempor.
      </p>
    </b-row>
  </b-container>
</template>

<script>
  import {mapGetters} from 'vuex';
  import getProductImage from "../shared/image-functions";

  export default {
    computed: {
      ...mapGetters({products: 'getAllProducts'}),
    },
    created() {
      this.$store.dispatch('fetchProducts', {tree_id: 7, page: 1, limit: 4})
    },
    methods: {
      getProductImage
    }
  }
</script>

<style>
  .home-page_jumbo {
    margin-top: 30px;
  }

  .home-page__vision {
    margin-bottom: 30px;
  }

  div.row {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .home-page__product-card {
    width: 25%;
  }

  .home-page__product-card img {
    border: 0px solid transparent;
  }

</style>

