<template>
  <b-container class="wishlist-page">
    <b-row
      class="checkout-page__header header"
      align-h="center"
    >
      <h1>Wishlist</h1>
    </b-row>
    <b-row
      v-if="wishlist && wishlist.products"
    >
      <b-col
        v-for="product in wishlist.products"
        :key="`wishlist-product-col-${product.id}`"
      >
        <product-wishlist :product="product"></product-wishlist>
      </b-col>
    </b-row>
    <b-row v-else>
      <b-col>
        <p>No items in wishlist...</p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';
  import ProductWishlist from "./products/product.wishlist";

  export default {
    name: 'Wishlist',
    components: {ProductWishlist},
    data() {
      return {
        componentKey: 0,
        quantityErrors: false
      }
    },
    computed: {
      ...mapGetters({
        wishlist: 'getWishlist',
      })
    },
    methods: {
      ...mapActions({
        fetchProductById: 'fetchProductById'
      })
    }
  }
</script>
