<template>
  <tr>
    <td>
      <img
        :src="getProductImage(basketline.product, 'product_image', 'mini')"
        height="70px"
      >
    </td>
    <td>
      <strong>{{ basketline.product.name }}</strong>
      <p>{{ basketline.product.description }}</p>
    </td>
    <td>
      <input
        v-model.number="basketline.quantity"
        type="number"
        name="quantity"
        class="form-control checkout-page__quantity"
        min="1"
        :class="{invalid: basketline.quantity < 1}"
        @change="updateQuantity"
      >
      <p
        v-if="invalidQuantity"
        class="text-danger"
      >
        Quantity should be higher than 1
      </p>
    </td>
    <td>
      <p class="checkout-page__total-amount-product">
        {{ totalSalePrice | currency(basketline.product.currency_symbol, 2, { decimalSeparator: '.' }) }}
      </p>
    </td>
    <td>
      <b-button
        variant="outline-secondary"
        type="button"
        class="checkout-page__close-button"
        aria-label="Close"
        @click="removeBasketLineFromBasket(basketline.id)"
      >
        <i class="far fa-trash-alt"></i>
      </b-button>
    </td>
  </tr>
</template>


<script>
  import {mapActions} from 'vuex';
  import getProductImage from '../shared/image-functions'


  export default {
    name: 'Basketline',
    props: {
      basketline: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        'quantity': 1,
        'invalidQuantity': false
      }
    },
    computed: {
      totalSalePrice: function () {
        return (this.basketline.product.sale_price * this.basketline.quantity) / 100
      }
    },
    methods: {
      getProductImage,
      ...mapActions(['removeBasketLineFromBasket']),
      updateQuantity: function () {
        this.invalidQuantity = this.basketline.quantity < 1;
        if (!this.invalidQuantity) {
          this.$store.dispatch('increaseProductQuantityInBasket', this.basketline)
        }
      }
    }
  };
</script>

<style scoped lang="scss">
</style>
