<template>
  <footer class="footer">
    <div class="container-fluid">
      <span>&copy; Cloudsuite</span>
    </div>
  </footer>
</template>

<script>
    export default {
        name: "AppFooter"
    }
</script>

<style scoped>
    .footer {
        background-color: #3e3f3e;
        color: white;
    }
</style>
