<template>
  <b-modal
    id="login"
    ref="login-modal"
    title="Login"
    hide-footer="hide-footer"
  >
    <b-form @submit="onSubmit">
      <b-alert
        :show="form.loginError"
        variant="danger"
      >
        Username or password unknown
      </b-alert>

      <b-form-group
        id="login-email-group"
        label="Email address:"
        label-for="login-email"
      >
        <b-form-input
          id="login-email"
          v-model="form.email"
          type="email"
          placeholder="Enter email"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="login-password-group"
        label="Password:"
        label-for="login-password"
      >
        <b-form-input
          id="login-password"
          v-model="form.password"
          type="password"
          placeholder="Enter password"
          required
        ></b-form-input>
      </b-form-group>

      <b-button
        variant="primary"
        type="submit"
      >
        Login
      </b-button>
    </b-form>
  </b-modal>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';

  export default {
    name: 'LoginModal',
    data() {
      return {
        form: {
          loginError: false,
          email: '',
          password: '',
        },
        hideFooter: true
      }
    },
    computed: {
      ...mapGetters({
        user: 'getUser',
      })
    },
    methods: {
      ...mapActions({
        login: 'login',
        getWishlists: 'getWishlists'
      }),
      onSubmit(event) {
        event.preventDefault()

        this.login(this.form)
          .then((response) => {
            if (response === 'failure') {
              this.form.loginError = true
            } else {
              this.getWishlists()
              this.form.loginError = false
              this.$refs['login-modal'].hide()
            }
          })
          .catch(error => {
            this.form.loginError = true
            console.log(error)
          });
      },
    }
  }
</script>
