<template>
  <div class="navbar-component">
    <b-navbar
      class="navbar-page"
      toggleable="lg"
      type="dark"
      variant="cloudsuite-theme"
    >
      <router-link
        tag="b-navbar-brand"
        to="/"
      >
        <img
          src="../assets/cloudsuite_white.png"
          alt="logo cloudsuite"
          width="160px"
        >
      </router-link>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse
        id="nav-collapse"
        is-nav
      >
        <b-navbar-nav>
          <router-link
            to="/"
            tag="b-nav-item"
            active-class="active"
            exact
          >
            Home
          </router-link>
          <router-link
            to="/products"
            active-class="active"
            tag="b-nav-item"
            @click.native="resetProducts"
          >
            Products
          </router-link>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown
            text="Country"
          >
            <b-dropdown-item
              v-for="enterpriseDomain in enterpriseDomains"
              :key="enterpriseDomain.country.code"
              :text="enterpriseDomain.country.name"
              @click="changeCountry(enterpriseDomain)"
            >
              <p>{{ enterpriseDomain.country.name }}</p>
            </b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown
            text="Lang"
          >
            <b-dropdown-item
              v-for="language in availableLanguages"
              :key="language.id"
              :text="language.code_short"
              @click="changeLanguage(language)"
            >
              <p>
                {{ language.code_short }}
              </p>
            </b-dropdown-item>
          </b-nav-item-dropdown>
          <b-button
            v-if="!userToken || !userData"
            v-b-modal.login
            variant="secondary"
          >
            login
          </b-button>
          <b-button
            v-else
            variant="secondary"
            @click="logout"
          >
            logout <span
              v-if="userData && userData.firstname"
              class="name"
            >{{ userData.firstname }}</span>
          </b-button>
          <router-link
            v-if="userToken"
            to="/wishlist"
            tag="b-button"
          >
            <i class="fas fa-heart"></i> ({{ totalWishlistProducts }})
          </router-link>
          <router-link
            to="/basket"
            tag="b-button"
          >
            <i class="fas fa-shopping-cart"></i> ({{ totalProducts }})
          </router-link>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-navbar
      v-if="navigationIsShowed"
      class="navbar-submenu"
      type="dark"
      variant="dark"
      toggleable="lg"
    >
      <b-navbar-nav>
        <b-nav-item-dropdown
          v-for="tree in highestTrees"
          :key="tree.id"
          class="product-trees"
          :text="tree.name"
        >
          <b-dropdown-item
            v-for="childTree in childTrees"
            :key="childTree.id"
            @click="getProductsOfTree(childTree)"
          >
            <p>{{ childTree.name }}</p>
          </b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';

export default {
  props: {
    navigationIsShowed: {type: Boolean, default: true}
  },
  data() {
    return {
      childTrees: [],
      childChildTrees: [],
      treeName: ''
    }
  },
  computed: {
    ...mapGetters({
      userToken: 'getUserToken',
      userData: 'getUserData',
      totalProducts: 'getTotalOfProductsBasket',
      totalWishlistProducts: 'getTotalOfWishlistProducts',
      highestTrees: 'getHighestTrees',
      trees: 'getTrees',
      availableLanguages: 'getAvailableLanguages',
      enterpriseDomains: 'getCountries'
    })
  },
  created() {
    this.$store.dispatch('fetchTrees');
    this.$store.dispatch('fetchAvailableLanguagesOfShop');
    this.$store.dispatch('fetchCountries')
  },
  mounted() {
    if (!this.userToken && window.$cookies.get('cs_headless')) {
      this.$store.dispatch('userToken', window.$cookies.get('cs_headless'))
    }

    if (this.userToken && !this.userData) {
      this.$store.dispatch('userData', this.userToken);
    }
    this.$root.$on('bv::dropdown::show', bvEvent => {
      if (bvEvent.vueTarget.$el.classList.contains('product-trees')) {
        const tree = this.trees.find(tree => tree.id === bvEvent.vueTarget.$vnode.key);
        this.fetchChildsOfTree(tree.children)
      }
    })
  },
  methods: {
    ...mapActions({
      logout: 'logout',
    }),
    fetchChildsOfTree(childTrees) {
      const childTreeIDs = childTrees.map(tree => tree.id);
      this.$store.dispatch('fetchRangeOfTrees', childTreeIDs).then((data) => {
        this.childTrees = data
      }).catch(error => console.log(error))
    },
    fetchChildsOfChildsOfTree(tree) {
      if (tree.children) {
        const childTreeIDs = tree.children.map(tree => tree.id);
        this.$store.dispatch('fetchRangeOfTrees', childTreeIDs).then((data) => {
          this.childChildTrees = data
        }).catch(error => console.log(error))
      }
    },
    changeLanguage(language) {
      this.$store.dispatch('updateShopLanguageCode', language).then(() => {
        this.$store.dispatch('fetchTrees');
        this.$store.dispatch('fetchProductById', this.$route.params.productID);
        this.$store.dispatch('initiateBasket');
      })
    },
    changeCountry(country) {
      this.$store.dispatch('updateCountry', country).then(() => {
        this.$store.dispatch('fetchTrees');
        this.$store.dispatch('fetchProductById', this.$route.params.productID);
        this.$store.dispatch('initiateBasket');
      })
    },
    getProductsOfTree(tree) {
      this.$router.push({name: 'product-tree', params: {treeID: tree.id.toString()}});
      this.$store.dispatch('fetchProducts', {tree_id: tree.id});
      this.childTrees = [];
    },
    resetProducts() {
      this.childTrees = [];
      this.childChildTrees = [];
    }
  }
}
</script>
