<template>
  <b-row align-h="center">
    <b-button
      variant="primary"
      type="button"
      @click="navigateToHome"
    >
      Go back to the home page
    </b-button>
  </b-row>
</template>

<script>
  export default {
    name: "NavigationToHome",
    methods: {
      navigateToHome() {
        this.$router.push({name: 'home'});
      }
    }
  }

</script>

<style scoped>

</style>