<template>
  <div>
    <app-navbar :navigation-is-showed="isCheckoutOrBasket()"></app-navbar>
    <router-view></router-view>
    <app-footer></app-footer>
    <login-modal></login-modal>
  </div>
</template>

<style lang="scss">
  /* scss */

</style>

<script>
  import navbar from './components/navbar.vue';
  import footer from './components/footer.vue';
  import LoginModal from "./components/login-modal";


  export default {
    components: {
      appNavbar: navbar,
      appFooter: footer,
      LoginModal
    },
    created() {
      this.$store.dispatch('initiateBasket');

      if (!this.$store.getters.getUserToken && window.$cookies.get('cs_headless')) {
        this.$store.dispatch('userToken', window.$cookies.get('cs_headless'))
      }
    },
    methods: {
      isCheckoutOrBasket() {
        return this.$route.name !== 'basket';
      }
    }
  }
</script>
